
.cproject
.gitattributes
.gitattributes
.project
.settings/language.settings.xml
.vs/AnalisisDeAlgoritmos/v16/.suo
.vs/AnalisisDeAlgoritmos/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
